<a href="https://colab.research.google.com/github/RicheTasnim/pythonForML/blob/main/module_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Variavles and Data Type

In [1]:
phone_number = 45649
print(phone_number)

45649

In [2]:
name = "phitron"
print(name)

phitron

In [3]:
age = 20
height = 5.6
name = "Tasnim"
is_passed = True

print(type(age), type(height), type(name), type(is_passed))

age = 20.5
print(type(age))

<class 'int'> <class 'float'> <class 'str'> <class 'bool'>
<class 'float'>

#Taking Input in Python

In [4]:
name = input("What is your name?")
print(name)

What is your name?Tasnim
Tasnim

In [5]:
age = input("Age ?")
print(age, type(age))

Age ?25.1
25.1 <class 'str'>

In [6]:
age = input("Age ?")
age = int(age)

print(age, type(age))

Age ?56
56 <class 'int'>

In [7]:
height = input("Height ?")
print(height, type(height))

Height ?203.8
203.8 <class 'str'>

In [8]:
height = float(input("Height ?"))

print(height, type(height))
height = height + 0.2

print(height)

Height ?20.6
20.6 <class 'float'>
20.8

# Operator in Python

In [9]:
x = 10; y = 3

sum = x+y
sub = x-y
mult = x*y
div = round(x/y, 2)

rem = x % y

print(sum, sub, mult, div, rem)

13 7 30 3.33 1

In [10]:
x = 10; y = 3

greater_than = x > y
greater_than_equal = (10 >= 10)
print(greater_than, greater_than_equal)

less_than = x < y
less_than_equal = (10 <= 10)
print(less_than, less_than_equal)

equal = x==y
print(equal)

not_equal = x != y
print(not_equal)

True True
False True
False
True

# Logical Operator

In [11]:
x = 10; y = 5; z = 3
result = (x > y) and (x > z)
print(result)

True

In [12]:
x = 10; y = 5; z = 15
result = (x > y) and (x > z)
print(result)

False

In [13]:
x = 10; y = 20; z = 15
result = (x > y) or (x > z)
print(result)

False

# Precedence and Assoiciativity

In [14]:
eq = 10 + 10/2 - 5*2
print(eq)

eq = (10+10)/2 - 5*2
print(eq)

5.0
0.0

# Problem : Digit Summation

In [16]:
inp = input()
numbers = inp.split()
x = int(numbers[0])
y = int(numbers[1])

last_digit_of_x = x % 10
last_digit_of_y = y % 10

sum = last_digit_of_x + last_digit_of_y

print(sum)

56 78
14